body {
    background:url("http://www.deleteagency.com/assets/img/pattern.png");
    background-color: black;
    color: green;
}

h1 {
    text-align: center;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: white;
}

.flex-container {
  display: flex;
  align-items: stretch;
  /* background-color: #f1f1f1; */
}

.flex-container >  div {
  /* background-color: DodgerBlue; */
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  display: inline-block;

}

#right_container > div {
    /* border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: green;
    padding: px; */
}

#left_container {
    border-style: solid;
    border-width: 0px 10px 0px 0px;
    border-color: green;
}